[project]
	description = this is a test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cary1179
[access "refs/for/refs/*"]
	read = group user/cary1179
	push = group user/cary1179
	label-Code-Review = -2..+2 group user/cary1179
	label-Verified = -1..+1 group user/cary1179
	rebase = group user/cary1179
	removeReviewer = group user/cary1179
	submit = group user/cary1179
[access "refs/heads/*"]
	read = group user/cary1179
	create = group user/cary1179
	push = +force group user/cary1179
	pushMerge = group user/cary1179
[access "refs/tags/*"]
	push = group user/cary1179
	push = +force group user/cary1179
